@font-face {
  font-family: "iconfont"; /* Project id 3538930 */
  src: url('iconfont.woff2?t=1658832903979') format('woff2'),
       url('iconfont.woff?t=1658832903979') format('woff'),
       url('iconfont.ttf?t=1658832903979') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before {
  content: "\e68f";
}

.icon-shenqing:before {
  content: "\e761";
}

.icon-shenqingguanli:before {
  content: "\e616";
}

.icon-erjidanweikaoqin:before {
  content: "\e6cc";
}

.icon-mima1:before {
  content: "\e618";
}

.icon-xitongyonghuguanli:before {
  content: "\e612";
}

.icon-dc-icon-gaoxiao:before {
  content: "\e654";
}

.icon-yincang:before {
  content: "\e65f";
}

.icon-xianshi:before {
  content: "\e60f";
}

.icon-denglu:before {
  content: "\e611";
}

.icon-mima:before {
  content: "\e606";
}

.icon-icon-huoban:before {
  content: "\e604";
}

.icon-icon-shouqi:before {
  content: "\e605";
}

.icon-icon-guanli:before {
  content: "\e610";
}

.icon-icon-shujuanquan:before {
  content: "\e615";
}

.icon-icon-wenjian2:before {
  content: "\e617";
}

.icon-icon-sousuo:before {
  content: "\e61e";
}

.icon-icon-zhanghao:before {
  content: "\e624";
}

.icon-icon-rili:before {
  content: "\e62f";
}

.icon-icon-bianji2:before {
  content: "\e636";
}

.icon-a-ziyuan58:before {
  content: "\e601";
}

.icon-bianji:before {
  content: "\e602";
}

.icon-xitongshezhi:before {
  content: "\e603";
}

.icon-AI-xitongguanli:before {
  content: "\e62b";
}

.icon-yuanshuju-chuangjianshijian:before {
  content: "\e62c";
}

.icon-yuanshuju-xiugairen:before {
  content: "\e62d";
}

.icon-yuanshuju-yemianguanli:before {
  content: "\e62e";
}

.icon-zhuantimulu:before {
  content: "\e600";
}

